#input-container {
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
}

#go-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-radius: 3px;
    padding: 0 0 3px 0;
    color: #fff;
    background-color: #4c8bf5;
    text-decoration: none;
}

#go-btn:hover {
    background-color: #4372cf;
}
