#input-container {
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
}

#room-number-input {
    width: 60%;
    border: none;
    border-bottom: 1px solid #444;
    padding: 0 5%;
    font-size: 1rem;
    text-align: center;
    color: #888;
}

#room-number-input:focus {
    outline: none;
}

#room-number-input:-webkit-autofill,
#room-number-input:-webkit-autofill:hover,
#room-number-input:-webkit-autofill:focus,
#room-number-input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px white inset;
}

#go-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-radius: 3px;
    padding: 0 0 3px 0;
    color: #fff;
    background-color: #4c8bf5;
    text-decoration: none;
}

#go-btn:hover {
    background-color: #4372cf;
}
